/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.local
.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.editorconfig
__MACOSX/
composer.phar
*.phar
.vscode/
.idea/
.env.production.backup
storage/debugbar/
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
